$black:    #fff;
$gray-900: #f8f9fa;
$gray-800: #e9ecef;
$gray-700: #dee2e6;
$gray-600: #ced4da;
$gray-500: #adb5bd;
$gray-400: #6c757d;
$gray-300: #495057;
$gray-200: #343a40;
$gray-100: #212529;
$white:    #000;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;
